@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.Nav-group {
    display: flex;
    padding: 5px;
    justify-content: space-around;
}

.form-open-button {
    position: relative;
    margin: 20px 50% 20px 50%;
    width: 80%;
}

.form-close {
    color: #ff7961;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.from-group {
    position: relative;
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #3f51b5;
    border-radius: 10px;
}

.from-group-input {
    width: 80%;
    margin: 10px 0;
    outline: 0;
    height: 40px;
    text-align: center;
    border: 1px solid #3f51b5;
    color: #3f51b5;
    border-radius: 10px;
}

.from-group-input::placeholder {
    padding: 4px;
    text-align: center;
    color: #3f51b5;
}

.from-group-input:focus {
    padding: 4px;
    text-align: center;
    color: #3f51b5;
    cursor: pointer;
}

.contact-card {
    padding: 5px 5px 5px 15px;
    margin: 10px;
    border-radius: 5px;
}

.contact-card:hover {
    background-color: rgb(239, 246, 252);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.4);
}

a {
    text-decoration: none;
    color: white;
}